@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  height: 100vh;
  margin: 0;
  background: rgb(220, 220, 220);
  font-family: "Roboto", san-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a,
p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.header,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  width: 100px;
  height: min-content;
  margin-left: 16px;
}

.header-links {
  margin-right: 16px;
}

.hero {
  background-color: #1f2937;
  padding: 16px 80px;
  flex: 1 1 auto;
  display: flex;
}

.hero-main,
.hero-secondary {
  padding: 16px;
}

.hero-main h3 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero-main button {
  background-color: #3882f6;
  color: #e5e7eb;
}

.hero-secondary img {
  width: 500px;
  height: 360px;
  object-fit: scale-down;
}

.container {
  flex: 1 1 auto;
}

.footer {
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
