@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  height: 100vh;
  margin: 0;
  background: rgb(220, 220, 220);
  font-family: "Roboto", san-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.header,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  width: 100px;
  height: min-content;
  margin-left: 16px;
}

.header-links {
  margin-right: 16px;
}

.container {
  flex: 1 1 auto;
}

.footer {
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
